.slider {
  width: 100vw;
  height: 70vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.slideNum {
  /* width: 70px;
  height: 70px;
  background-color: gray; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 0;
  opacity: 0.5;
  z-index: 2;
  color: black;
  font-size: 50px;
}
.slider-left {
  width: 50px;
  height: 50px;
  background-color: gainsboro;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 50%;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}
.slider-right {
  width: 50px;
  height: 50px;
  background-color: gainsboro;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

/* .slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
} */
.imgContainer {
  height: 100%;
  width: 100%;
}
.imgContainer img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
/* .infoContainer {
  flex: 1;
  padding: 50px;
}
.title {
  font-size: 70px;
}
.desc {
  margin: 50px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
} */
.btn {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
