.img {
  object-fit: contain;
  margin-right: 15px;
}
.chatbot {
  color: rgb(95, 95, 215);
}
/* .chatting {
  position: fixed;
  bottom: 10px;
  right: 10px;
} */
/* @media (max-width: 380px) {
  .chatting {
    right: 300px;
  }
} */
